* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.nav {
  height: 15vh;
  width: 100vw;
  background-color: #b1d2cd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-nav {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.logo {
  height: 7rem;
  width: 7rem;
}

.right-nav {
  display: flex;
  gap: 5rem;
  padding-right: 7rem;
}
a {
  color: rgb(80, 152, 142);
  font-size: 1.5rem;
  text-decoration: none;
}
a:hover {
  color: rgb(231, 245, 242);
}
.top-container {
  background-color: #e7f6f2;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 85vh;
  width: 100vw;
  padding-top: 2rem;
}
.tc-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 5rem;
  font-size: 7rem;
  font-family: "Sacramento", cursive;
  color: rgb(80, 152, 142);
}
.p-programmer {
  font-size: 3rem;
  font-family: "Bad Script", cursive;
  animation-name: programmer;
  animation-iteration-count: infinite;
  animation-duration: 4000ms;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.girl-img {
  height: 37rem;
  width: 35rem;
}
.leaf-img {
  height: 38rem;
  width: 34rem;
}

@keyframes programmer {
  0% {
    color: #97dece;
  }
  25% {
    color: #62b6b7;
  }
  50% {
    color: #439a97;
  }
  75% {
    color: #357774;
  }
  100% {
    color: #234f4e;
  }
}
